body{
    background-color: lightgray;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

#canvas{
    background-color: white;
    margin: 10px;
}

.score{
    margin: 70px 30px;
}

#title h1{
    text-align: center;
}

.startscreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightblue;
    position: absolute;
    margin: 11px;
    width: 500px;
    height: 400px;
}

.startscreen h2 {
    text-align: center;
}

#startbutton {
    align-self: center;
    width: 100px;
}

.display-none{
    display: none;
}

canvas {
    border: 1px solid gray;
  }